In [477]:
# import requests
import pandas as pd
import numpy as np
# from bs4 import BeautifulSoup
from imdb import IMDb
import warnings
from progressbar import ProgressBar
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore")

In [478]:
def getData():
    imdb_movies = pd.read_json('../data/characters/imdb_dataset.json')
    imdb_movies = imdb_movies[['title', 'year', 'imdb_url']]
    imdb_movies = imdb_movies.rename(columns={"title": "Movie", "year":"Year"})
    imdb_movies=imdb_movies.sort_values(by=['Movie'], ignore_index=True)

    listofmovies = pd.read_csv("../data/final_movies_list.csv",delimiter='\t')
    listofmovies['Year'] = listofmovies['Year'].astype(np.float64)
    listofmovies = listofmovies[['Movie', 'Year']]
    listofmovies=listofmovies.sort_values(by=['Movie'], ignore_index=True)
    
    return listofmovies, imdb_movies

In [479]:
l, i = getData()
i['Movie'] = i["Movie"].str.title()
l['Movie'] = l["Movie"].str.title()
l["Movie"] = l["Movie"].str.replace(r"^([^,]*), (The)",r"\2 \1",regex=True)

In [480]:
l

                           Movie    Year
0     10 Things I Hate About You  1999.0
1                             12  2010.0
2                     12 Monkeys  1995.0
3               12 Years A Slave  2013.0
4                 12 And Holding  2005.0
...                          ...     ...
1132             Youth In Revolt  2009.0
1133            Zero Dark Thirty  2012.0
1134                  Zerophilia  2005.0
1135                    Zootopia  2016.0
1136                         Xxx  2002.0

[1137 rows x 2 columns]

In [481]:
i

                     Movie    Year                               imdb_url
0         #1 Serial Killer  2013.0  https://www.imdb.com/title/tt2346170/
1                       #5  2013.0  https://www.imdb.com/title/tt3120962/
2                #Captured  2017.0  https://www.imdb.com/title/tt6856592/
3      #Digitallivesmatter  2016.0  https://www.imdb.com/title/tt5803530/
4                  #Enough  2015.0  https://www.imdb.com/title/tt5460468/
...                    ...     ...                                    ...
58618          ¡Qué Hacer!  1972.0  https://www.imdb.com/title/tt0066614/
58619       ¡Three Amigos!  1986.0  https://www.imdb.com/title/tt0092086/
58620           Á Colombia  2006.0  https://www.imdb.com/title/tt0827790/
58621             Æon Flux  2005.0  https://www.imdb.com/title/tt0402022/
58622             Îlé Aiyé  1989.0  https://www.imdb.com/title/tt0098730/

[58623 rows x 3 columns]

In [482]:
l.dtypes

Movie     object
Year     float64
dtype: object

In [483]:
i.dtypes

Movie        object
Year        float64
imdb_url     object
dtype: object

In [484]:
l=l.merge(i, how='left')

In [485]:
l

,Movie,Year,imdb_url
0,10 Things I Hate About You,1999.0,https://www.imdb.com/title/tt0147800/
1,12,2010.0,NaN
2,12 Monkeys,1995.0,NaN
3,12 Years A Slave,2013.0,https://www.imdb.com/title/tt2024544/
4,12 And Holding,2005.0,https://www.imdb.com/title/tt0417385/
...,...,...,...
1132,Youth In Revolt,2009.0,https://www.imdb.com/title/tt0403702/
1133,Zero Dark Thirty,2012.0,https://www.imdb.com/title/tt1790885/
1134,Zerophilia,2005.0,https://www.imdb.com/title/tt0421090/
1135,Zootopia,2016.0,https://www.imdb.com/title/tt2948356/
1136,Xxx,2002.0,https://www.imdb.com/title/tt0295701/

In [486]:
null_url = pd.isnull(l['imdb_url'])
temp = l[null_url]

In [487]:
temp

                                   Movie    Year imdb_url
1                                     12  2010.0      NaN
2                             12 Monkeys  1995.0      NaN
9                                    187  1997.0      NaN
13                         28 Days Later  2002.0      NaN
16                         44 Inch Chest  2009.0      NaN
...                                  ...     ...      ...
1103                    The White Ribbon  2009.0      NaN
1106                    Who'S Your Daddy  2017.0      NaN
1111  Wild Things: Diamonds In The Rough  2005.0      NaN
1116                      Withnail And I  1987.0      NaN
1125       The X-Files: Fight The Future  1998.0      NaN

[281 rows x 3 columns]

In [488]:
ia = IMDb()

In [489]:
def getNULLMovies(temp):
    m_dict = dict(zip(temp["Movie"], temp["Year"]))
    pbar = ProgressBar()
    for key, value in pbar(m_dict.items()):
        movies = ia.search_movie(key)
        for movie in movies:
            try:
                year = movie['year']
                if float(year) == value:
                    mid = movie.movieID
                    title = movie['title']
                    l.loc[l["Movie"] == key, "imdb_url"] = 'https://www.imdb.com/title/tt' + mid +'/'
                    l.loc[l["Movie"] == key, "AltTitle"] = title
                    break
            except:
                print("Error:", movie, key, value)

In [490]:
l['AltTitle'] = ""
getNULLMovies(temp)

Error: The American The American 2017.0

Error: The Birds (in development) The Birds 2020.0

Error: Bonfire of the Vanities (in development) Bonfire Of The Vanities 1990.0

Error: The Debt The Debt 2009.0
Error: The Descendants The Descendants 2015.0

Error: Guardians of the Galaxy Vol 2 Guardians Of The Galaxy Vol 2 2017.0

Error: The Hospital (in development) The Hospital 1963.0

Error: Labor of Love  (in development) Labor Of Love 2015.0

Error: Ni vu ni connu Ni Vu Ni Connu 1958.0

Error: The Prophecy of Time The Prophecy 1979.0

Error: The Roommate The Roommate 1961.0

Error: The Sessions (in development) The Sessions 2020.0

Error: The Things They Carried The Thing 2021.0

Error: The Time Machine The Time Machine 2010.0

Error: White Jazz (in development) White Jazz 1992.0

100% |########################################################################|

In [491]:
l

,Movie,Year,imdb_url,AltTitle
0,10 Things I Hate About You,1999.0,https://www.imdb.com/title/tt0147800/,
1,12,2010.0,https://www.imdb.com/title/tt1407084/,Twelve
2,12 Monkeys,1995.0,https://www.imdb.com/title/tt0114746/,12 Monkeys
3,12 Years A Slave,2013.0,https://www.imdb.com/title/tt2024544/,
4,12 And Holding,2005.0,https://www.imdb.com/title/tt0417385/,
...,...,...,...,...
1132,Youth In Revolt,2009.0,https://www.imdb.com/title/tt0403702/,
1133,Zero Dark Thirty,2012.0,https://www.imdb.com/title/tt1790885/,
1134,Zerophilia,2005.0,https://www.imdb.com/title/tt0421090/,
1135,Zootopia,2016.0,https://www.imdb.com/title/tt2948356/,
1136,Xxx,2002.0,https://www.imdb.com/title/tt0295701/,

In [492]:
null_url2 = pd.isnull(l['imdb_url'])
temp2 = l[null_url2]

In [493]:
temp2

                                           Movie    Year imdb_url AltTitle
309                                     The Debt  2009.0      NaN
735                                    The Mummy  1971.0      NaN
755       Night Time (The Poltergeist Treatment)  1980.0      NaN
760   Nightmare On Elm Street: The Final Chapter  1991.0      NaN
822                  Pretty Woman (Final Script)  1990.0      NaN
1102                                  White Jazz  1992.0      NaN

In [494]:
# l = l.dropna()

In [495]:
def getCharachters(l):
    fullcast = []
    pbar = ProgressBar()
    for movie in pbar(l['imdb_url']):
        try:
            mid = movie[29:36]
            m = ia.get_movie(mid)
            cast = m['cast']
            c = []
            for actor in cast:
                c.append(actor)
                c.append(actor.currentRole)
            fullcast.append(c)
        except:
            fullcast.append(np.nan)
    l['Cast'] = fullcast

In [496]:
getCharachters(l)

2021-04-28 12:19:38,420 CRITICAL [imdbpy] /usr/local/lib/python3.7/site-packages/imdb/_exceptions.py:34: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt0118689/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('The read operation timed out')},); kwds: {}
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/imdb/parser/http/__init__.py", line 221, in retrieve_unicode
    content = response.read()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 454, in read
    return self._readall_chunked()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 561, in _readall_chunked
    chunk_left = self._get_chunk_left()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 544, in _get_chunk_left
    chunk_left = self._read_next_chunk_size()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 504, in _read_next_chunk_size
    line = self.fp.readline(_MAXLINE + 1)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/socket.py", line 589, in readinto
    return self._sock.recv_into(b)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/ssl.py", line 1049, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/ssl.py", line 908, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out
2021-04-28 12:19:38,665 CRITICAL [imdbpy] /usr/local/lib/python3.7/site-packages/imdb/__init__.py:792: caught an exception retrieving or parsing "main" info set for mopID "0118689" (accessSystem: http)
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/imdb/parser/http/__init__.py", line 221, in retrieve_unicode
    content = response.read()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 454, in read
    return self._readall_chunked()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 561, in _readall_chunked
    chunk_left = self._get_chunk_left()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 544, in _get_chunk_left
    chunk_left = self._read_next_chunk_size()
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/http/client.py", line 504, in _read_next_chunk_size
    line = self.fp.readline(_MAXLINE + 1)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/socket.py", line 589, in readinto
    return self._sock.recv_into(b)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/ssl.py", line 1049, in recv_into
    return self.read(nbytes, buffer)
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/ssl.py", line 908, in read
    return self._sslobj.read(len, buffer)
socket.timeout: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/imdb/__init__.py", line 787, in update
    ret = method(mopID)
  File "/usr/local/lib/python3.7/site-packages/imdb/parser/http/__init__.py", line 454, in get_movie_main
    cont = self._retrieve(self.urls['movie_main'] % movieID + 'reference')
  File "/usr/local/lib/python3.7/site-packages/imdb/parser/http/__init__.py", line 378, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "/usr/local/lib/python3.7/site-packages/imdb/parser/http/__init__.py", line 254, in retrieve_unicode
    'original exception': e}
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/title/tt0118689/reference', 'proxy': '', 'exception type': 'IOError', 'original exception': timeout('The read operation timed out')}
100% |########################################################################|

In [497]:
l.to_csv('../data/task2/all-charachters.csv', index=False)

In [501]:
imdb_movies = pd.read_csv('../data/task2/all-charachters.csv', delimiter=',')

In [502]:
imdb_movies

,Movie,Year,imdb_url,AltTitle,Cast
0,10 Things I Hate About You,1999.0,https://www.imdb.com/title/tt0147800/,NaN,[<Person id:0005132[http] name:_Heath Ledger_>...
1,12,2010.0,https://www.imdb.com/title/tt1407084/,Twelve,[<Person id:2003700[http] name:_Chace Crawford...
2,12 Monkeys,1995.0,https://www.imdb.com/title/tt0114746/,12 Monkeys,[<Person id:0577828[http] name:_Joseph Melito_...
3,12 Years A Slave,2013.0,https://www.imdb.com/title/tt2024544/,NaN,[<Person id:0252230[http] name:_Chiwetel Ejiof...
4,12 And Holding,2005.0,https://www.imdb.com/title/tt0417385/,NaN,[<Person id:1331627[http] name:_Conor Donovan_...
...,...,...,...,...,...
1132,Youth In Revolt,2009.0,https://www.imdb.com/title/tt0403702/,NaN,[<Person id:0148418[http] name:_Michael Cera_>...
1133,Zero Dark Thirty,2012.0,https://www.imdb.com/title/tt1790885/,NaN,[<Person id:0164809[http] name:_Jason Clarke_>...
1134,Zerophilia,2005.0,https://www.imdb.com/title/tt0421090/,NaN,[<Person id:0359623[http] name:_Taylor Handley...
1135,Zootopia,2016.0,https://www.imdb.com/title/tt2948356/,NaN,[<Person id:0329481[http] name:_Ginnifer Goodw...
1136,Xxx,2002.0,https://www.imdb.com/title/tt0295701/,NaN,"[<Person id:0004874[http] name:_Vin Diesel_>, ..."

In [391]:
# for urls in list(l['imdb_url']):
#     r = requests.get(url=urls)
#     soup = BeautifulSoup(r.text, 'html.parser')
#     crew_data = {
#         "crew": []
#     }
#     title = soup.find('title')
#     crew_data["title"] = title.string
#     cast_list = soup.find("table", {"class" : "cast_list"})

#     trows = cast_list.find_all('tr')

#     for tr in trows:
#         td = tr.find_all('td')
#         if len(td)==4:
#             row = [i.text for i in td]
#             crew_data["crew"].append({
#                 "name":re.sub("[^a-zA-Z' ]+", '', row[1]).strip(),
#                 "character":re.sub("[^a-zA-Z' ]+", '', row[3]).strip()
#             })
#     print(crew_data)